<ng-container *ngIf="!showDetails">
  <p>{{ issue.description }}</p>
  <div class="buttons">
    <button [routerLink]="['/', 'issues', issue.id]" mat-raised-button color="primary">Show details</button>
    <button (click)="edit()" mat-raised-button color="secondary">Edit issue</button>
  </div>
</ng-container>

<ng-container *ngIf="showDetails">
  <h2>{{ issue.title }} - {{ issue.user }}</h2>
  <h3>Description</h3>
  <p>{{ issue.description }}</p>
  <h3>Messages</h3>
  <ng-container *ngIf="issue.messages && issue.messages.length !== 0">
    <div *ngFor="let message of issue.messages">
      <div>{{ message.user }}</div>
      <p>{{ message.text }}</p>
    </div>
  </ng-container>
  <p *ngIf="!issue.messages || issue.messages.length === 0">No messages yet.</p>
</ng-container>
