<ng-container *ngIf="!showDetails">
  <p>{{ issue.description }}</p>
  <div class="buttons">
    <button [routerLink]="['/', 'issues', issue.id]" mat-raised-button color="primary">Show details</button>
    <button (click)="edit()" mat-raised-button color="secondary">Edit issue</button>
  </div>
</ng-container>

<ng-container *ngIf="showDetails && issue">
  <h2>{{ issue.title }} - {{ issue.user.username }}</h2>
  <h3>Description</h3>
  <p>{{ issue.description }}</p>
  <div *ngIf="isAdmin">
    <button mat-raised-button color="primary" (click)="deleteIssue()">Delete issue</button>
  </div>
  <h3>Messages</h3>
  <ng-container *ngIf="issue.messages && issue.messages.length !== 0">
    <div class="message" *ngFor="let message of issue.messages">
      <div class="message-author">{{ message.user.username }}</div>
      <p>{{ message.text }}</p>
    </div>
  </ng-container>
  <p *ngIf="!issue.messages || issue.messages.length === 0">No messages yet.</p>
  <form (submit)="addMessage()">
    <mat-form-field appearance="fill">
      <mat-label>Message</mat-label>
      <textarea
        required
        matInput
        name="message"
        [formControl]="message"
      ></textarea>
      <mat-error *ngIf="message.invalid">This field is required.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary">Send message</button>
  </form>
</ng-container>
