<h2 mat-dialog-title>{{ editing ? 'Edit' : 'Create' }} issue</h2>

<form [formGroup]="form" (submit)="submit()">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input
      required
      matInput
      type="text"
      name="title"
      formControlName="title"
    />
    <mat-error *ngIf="title.invalid">This field is required.</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea
      required
      matInput
      name="description"
      formControlName="description"
    ></textarea>
    <mat-error *ngIf="description.invalid">This field is required.</mat-error>
  </mat-form-field>
  <div mat-dialog-actions class="buttons">
    <button mat-raised-button color="primary">Create</button>
    <button type="button" mat-raised-button color="secondary" mat-dialog-close>Close</button>
  </div>
</form>
