<h2>Issues</h2>

<mat-accordion>
  <mat-expansion-panel hideToggle *ngFor="let issue of issues">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ issue.title }}
        <mat-icon>assignment</mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-issue
      [issue]="issue"
      [showDetails]="false"
      (editIssue)="startEditIssue($event)"
    ></app-issue>
  </mat-expansion-panel>
</mat-accordion>

<button
  class="add-button"
  mat-fab
  color="primary"
  aria-label="Create new issue"
  (click)="startCreateIssue()"
>
  <mat-icon>add</mat-icon>
</button>
